html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  back
}

.container {
  display: flex;
  flex-direction: row-reverse;
}

#circles {
  width: 70%;
  height: 100%;
}

#circles div {
  border-radius: 50%;
  position: absolute;
}
#chat-container {
  align-content: left;
  position: absolute;
  top: 50px;
  width: 30%;
  height: 80%;
  background-color: rgba(74, 58, 58, 0.283);
}

header {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 100%;
  z-index: 999;
  font: lighter 20px "Courier New";
  color: purple;
}

header button {
  float: right;
  margin-right: 30px;
  padding: 6px;
  background-color: purple;
  color: white;
  border-style: none;
  border-radius: 4px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

li {
  list-style: none;
  padding: 4px;
  
}

#chat {
  list-style-type: none;
  padding-left: 0px;
}

footer li {
  list-style: none;
  display: inline;
  font: 12px Arial;
  color: white;
  border-radius: 4px;
  background-color: gray;
  padding: 4px;
  margin-right: 5px;
}
